<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GAME_NAME</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1> GAME_NAME </h1>
    <a class="back" href="index.html"> Back </a>
    <canvas id="glcanvas" tabindex='1'></canvas>
    <!-- Minified and statically hosted version of https://github.com/not-fl3/macroquad/blob/master/js/mq_js_bundle.js -->
    <script src="https://not-fl3.github.io/miniquad-samples/mq_js_bundle.js"></script>
    <script src="https://not-fl3.github.io/miniquad-samples/sapp_jsutils.js"></script>
    <script src="functions.js"></script>
    <script>load("GAME_NAME.wasm");</script> 
</body>

</html>
